.contenedor {
    margin: 0px 0px 0px 0px;
    padding: 120px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 5rem;
}
.paginado{
    display: flex;
}

.link{
    text-decoration: none;
}

.reset{
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color:white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.reset:hover{
    background-color: #ccc;
    color: black;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.selectnombre{
    
    display: flex;
    background-color: #fff;
    border-radius:  3px;
    border: 2px solid black;
    outline: none;
    font-size: 14px;
    width: 166px;
}

.labelnombre {
    color: black;
    padding-left: 2px;
}

.selectpoblacion{
    display: flex;
    border-radius:  3px;
    border: 2px solid black; 
    outline: none;
    font-size: 14px;
    width: 166px;
}

.labelpoblacion {
    color: black;
    padding-left: 2px;
}

.selectcontinente{
    display: flex;
    background-color: #fff;
    border-radius:  3px;
    border: 2px solid black;
    outline: none;
    font-size: 14px;
    width: 166px;
}

.labelcontinente {
    color: black;
    padding-left: 2px;
}

.selectactividad {
    display: flex;
    background-color: #fff;
    border-radius:3px;
    border: 2px solid black;
    outline: none;
    width: 166px;
}

.labelactividad {
    color: black;
    padding-left: 2px;
}
.filtros{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
    font-size: 1.3rem;
    gap: 1rem;
}
select{
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
}

