.contenedor {
    margin: 0px 0px 0px 0px;
    padding: 120px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 5rem;
    
}
.paginado{
    display: flex;
}

.link{
    text-decoration: none;
}

select{
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.reset{
    font-family: inherit;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color:#ECECEC;
    background-color: #1A1A1A;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: 1px solid yellow;
    padding: 6px;
}
.reset:hover{
    background-color: yellow;
    color: black;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
}

.selectnombre{
    display: flex;
    background-color: #1A1A1A;
    border-radius:  3px;
    border: 2px solid transparent;
    outline: none;
    font-size: 1rem;
    width: 166px;
    color: #A9A9A9;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}


.selectnombre:hover,
.selectnombre:focus{
    color: #ECECEC;
    border: 2px solid yellow;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

.labelnombre {
    color: #ECECEC;
    padding-left: 4px;
    border: 2px solid transparent;
}

.selectpoblacion{
    display: flex;
    background-color: #1A1A1A;
    border-radius:  3px;
    border: 2px solid transparent;
    outline: none;
    font-size: 1rem;
    width: 166px;
    color: #A9A9A9;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.selectpoblacion:hover,
.selectpoblacion:focus{
    color: #ECECEC;
    border: 2px solid yellow;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}

.labelpoblacion {
    color: #ECECEC;
    padding-left: 4px;
    border: 2px solid transparent;
}

.selectcontinente{
    display: flex;
    background-color: #1A1A1A;
    border-radius:  3px;
    border: 2px solid transparent;
    outline: none;
    font-size: 1rem;
    width: 166px;
    color: #A9A9A9;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.selectcontinente:hover,
.selectcontinente:focus{
    color: #ECECEC;
    border: 2px solid yellow;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}


.labelcontinente {
    color: #ECECEC;
    padding-left: 4px;
    border: 2px solid transparent;
}

.selectactividad {
    display: flex;
    background-color: #1A1A1A;
    border-radius:  3px;
    border: 2px solid transparent;
    outline: none;
    font-size: 1rem;
    width: 166px;
    color: #A9A9A9;
    transition: all 0.2s ease 0s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.selectactividad:hover,
.selectactividad:focus{
    color: #ECECEC;
    border: 2px solid yellow;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
}


.labelactividad {
    color: #ECECEC;
    padding-left: 4px;
    border: 2px solid transparent;
}
.filtros{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    padding-top: 9rem;
    font-size: 1.3rem;
    gap: 1rem;
}
select{
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
}

