.button2 {
    color: white;
    background-color: black;
    border-color: white;
    font-family: inherit;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    border: 2px solid;
    z-index: 1;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 500;
   }
   

