.buscador {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
}
.button2 {
    font-family: inherit;
    padding: 0.6em 1em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color:white;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: solid 1px;
    border-color: white;
}

.button2:hover {
    background-color: white;
    color: black;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
}

.button2:active {
    transform: translateY(2px);
}

.search{
    max-width: 169px;
}

.search  {
    width: 100%;
    height: 39px;
    line-height: 28px;
    padding-left: 0.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.search::placeholder {
    color: #9e9ea7;
    font-size: 1rem;
}

.search:focus, .search:hover {
    outline: none;
    border-color: rgba(115,115,118,0.8);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
