.paginado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    gap: 0.5rem;
    padding-top: 4.5rem;
}

.paginadoli{
    display: inline;
}

.paginadoa{
    color: black;
    float: left;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    width: 2.25rem;
    height: 2.25rem;
}

.paginadoa .paginadoa.active {
    background-color: #4CAF50;
    color: white;
}

.paginadoa:hover:not(.active){
    background-color: #ddd;
}