.all{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    height: 6rem;
}
.menu {
    width: 100%;
    background: #000;
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 6rem 0 6rem;
}
.titulo {
    color: #fff;
    background-color: #000;
    align-items:center;
    padding-left: 1rem;
    margin: 0;
    display: flex;
}

.fondo {
    background-color: #000;
}
.menu li{
    display: flex;
    justify-content: end;
    align-items:center ;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}
.menu li a:hover{
    transition: all;
    transition-duration: 300ms;
    color:gray
}


.input {
    padding: 35px 0 0 0;
}