.all{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.menu {
    width: 100%;
    background: #1A1A1A;
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 6rem 0 6rem;
}
.titulo {
    color: #ECECEC;
    background-color: #1A1A1A;
    align-items:center;
    padding-left: 1rem;
    margin: 0;
    display: flex;
}

.fondo {
    background-color: #000;
}
.menu li{
    display: flex;
    justify-content: end;
    align-items:center ;
}
.menu li a {
    color: #ECECEC;
    text-decoration: none;
    font-size: 26px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color:gray;
    filter: drop-shadow(0px 14px 6px rgba(255, 255, 255, 40%));
}


.input {
    padding: 35px 0 0 0;
}